apiVersion: v1
kind: Service
metadata:
  name: tunnel
spec:
  ports:
    - name: "3000"
      port: 3000
      targetPort: 3000
  selector:
    app: tunnel
---
apiVersion: v1
kind: Service
metadata:
  name: tunnel-ssh
spec:
  type: LoadBalancer
  ports:
    - name: "2222"
      port: 2222
      targetPort: 2222
  selector:
    app: tunnel
